<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253583446682-oplmcosf2rlob55mfg9qsokaj0g9tv97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253583446682-oplmcosf2rlob55mfg9qsokaj0g9tv97</string>
	<key>API_KEY</key>
	<string>AIzaSyAOFcywdMXLPoIqnp2hyAK8_WuYcfly-cs</string>
	<key>GCM_SENDER_ID</key>
	<string>253583446682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gupta.aryan.com.ssmsRevamp</string>
	<key>PROJECT_ID</key>
	<string>ssms-revamp-final</string>
	<key>STORAGE_BUCKET</key>
	<string>ssms-revamp-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253583446682:ios:faefe29ac6ace410a68523</string>
</dict>
</plist>